name: Deployment Pipeline

on:
  push:
    branches: [develop, staging, master]
  pull_request: 
    branches: [develop, staging, master]
    types: [opened, synchronize]
  workflow_call: 
    
jobs:

  Security-Vulnerabilities-Scan:
    env:
      IMAGE_NAME: ${{ github.repository }}:temp-${{ github.run_number }}
    name: Security-Vulnerabilities-Scan
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2.3.4
      - name: Build the image
        run: docker build -t $IMAGE_NAME .

      - name: Prisma Cloud image scan
        id: scan
        uses: PaloAltoNetworks/prisma-cloud-scan@v1
        with:
          pcc_console_url: ${{ secrets.PCC_CONSOLE_URL }}
          pcc_user: ${{ secrets.PCC_USER }}
          pcc_pass: ${{ secrets.PCC_PASS }}
          image_name: ${{ env.IMAGE_NAME }}

  Consul-Template:
    needs: [Security-Vulnerabilities-Scan]
    name: Consul-Template
    runs-on: ubuntu-latest
    steps:
      - name: Create filenames
        uses: smu-chile/gh-action-consul-to-env-file@v1.0.1
        with:
          consul_address: "consul.smu-labs.cl"
          consul_token: ${{ secrets.CONSUL_HTTP_TOKEN }}
          base_path: "polymathes/infrastructure/vault/input"
          excluded_keys: 'external-dns'
          consul_port: 443
          consul_use_ssl: true
          env_filename: ".env_file" 